body {
  font-family: "Open Sans", sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@media(max-width: 1024px) {
  body {
    padding: 20px;
  }
}

@media(max-width: 500px) {
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}